// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Noto Kufi Arabic';
$headings-font-family:'Noto Kufi Arabic';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary:#5718c4;
$body-bg:#f5f9fc;
$btn-border-radius:0;
$card-border-width:0;
$card-border-radius:0;
$warning:#f28486;
$link-color:#000;
$input-border-radius:0;